.button {
  background-color: var(--background);
  aspect-ratio: 1 / 1;
  width: 6rem;
  margin: auto;
  border: none;
  font-size: 3rem;
  font-weight: bolder;
  color: white;
  background-color: var(--button);
  border-radius: 100%;
}

.button:hover {
  border: white solid 2px;
  cursor: pointer;
}

.button:active {
  background-color: var(--screen);
}

.button:nth-of-type(4) {
  background-color: var(--buttonMain);
}

.button:last-of-type {
  grid-column: span 1;
  font-size: 2.25rem;
  background-color: red;
  border-radius: 1.5vw;
}

.button:nth-last-child(2) {
  grid-column: span 3;
  width: 100%;
  height: auto;
  aspect-ratio: 6/2;
  border-radius: 1.5vw;
  background-color: var(--buttonSecondary);
}

.button:nth-last-child(2):active {
  background-color: #06cc93;
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .button {
    border-radius: 0;
    width: 4.5rem;
    font-size: 2rem;
  }

  .button:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .button:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
  }
  .button:nth-of-type(3) {
    grid-column: 3;
    grid-row: 1;
  }
  .button:nth-of-type(4) {
    grid-column: 8;
    grid-row: 1;
  }
  .button:nth-of-type(5) {
    grid-column: 1;
    grid-row: 2;
  }
  .button:nth-of-type(6) {
    grid-column: 2;
    grid-row: 2;
  }
  .button:nth-of-type(7) {
    grid-column: 3;
    grid-row: 2;
  }
  .button:nth-of-type(8) {
    grid-column: 5;
    grid-row: 1;
  }
  .button:nth-of-type(9) {
    grid-column: 1;
    grid-row: 3;
  }
  .button:nth-of-type(10) {
    grid-column: 2;
    grid-row: 3;
  }
  .button:nth-of-type(11) {
    grid-column: 3;
    grid-row: 3;
  }
  .button:nth-of-type(12) {
    grid-column: 4;
    grid-row: 2;
  }
  .button:nth-of-type(13) {
    grid-column: 6;
    grid-row: 2;
  }
  .button:nth-of-type(14) {
    grid-column: 4;
    grid-row: 3;
  }
  .button:nth-of-type(15) {
    grid-column: 7;
    grid-row: 2;
  }
  .button:nth-of-type(16) {
    grid-column: 4;
    grid-row: 1;
  }
  .button:nth-of-type(17) {
    grid-column: 5;
    grid-row: 3;
  }
  .button:nth-of-type(18) {
    grid-column: 7;
    grid-row: 1;
  }
  .button:nth-of-type(19) {
    grid-column: 6;
    grid-row: 1;
  }
  .button:nth-of-type(20) {
    grid-column: 5;
    grid-row: 2;
  }
  .button:nth-of-type(21) {
    grid-column: 6 / span 3;
    grid-row: 3;
  }
  .button:nth-of-type(22) {
    grid-column: 8;
    grid-row: 2;
  }
}
