.container {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  text-align: right;
  width: 43rem;
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  color: rgb(38, 46, 50);
}

.input {
  display: inline-block;
  font-size: 4.5rem;
  height: 1.5rem;
  margin-left: auto;
  transition: transform 0.1s ease-in;
}

.result {
  font-size: 2rem;
  height: 2.5rem;
  font-weight: lighter;
  overflow: hidden;
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .input {
    font-size: 3rem;
    height: 0.75rem;
  }

  .result {
    font-size: 1rem;
    height: 1.25rem;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .container {
    width: 90vw;
  }
}
