.container {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  text-align: right;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  color: rgb(203, 203, 194);
}

.input {
  display: inline-block;
  font-size: 3vw;
  height: 0.75vh;
  margin-left: auto;
  width: fit-content;
  transition: transform 0.3s ease-in-out;
}

.result {
  font-size: 1.25vw;
  height: 1.25vw;
  font-weight: lighter;
  overflow: hidden;
}
