/* Global rules declared here*/

:root {
  --button: #3E8783;
  --buttonMain: rgb(255, 111, 0);
  --buttonSecondary: #4f8f7f;
  --background: #184B48;
  --body: #0A2C2A;
  --screen: #70BDB9;

}

html {  
  background-color: var(--background);
  box-sizing: border-box;
  font-size: 62.5%;
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 45%;
  }
}
